@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Open+Sans:ital@1&family=Square+Peg&display=swap");

.container {
  max-width: 1440px;
  width: 100%;
  padding: 2rem 15rem;
  position: relative;
}

#root {
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  height: 100%;
  grid-template-rows: 1fr max-content;
}

body {
  background: #0d0415;
  font-family: "Heebo", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  --primaryColor: #cc3180;
  --accentColor: #fff;
  --bgPrimary: #1d0e2c;
  --bgSecondary: linear-gradient(90.7deg, #6237dd 0%, #e13586 100%);
}
